.toggle {
  display: inline-block;
  position: relative;
  width: 100%;
  border: 2px solid $opaqueWhite;
  border-radius: 50px;
}

.toggle input[type="radio"] {
  display: none;
}

.toggle label {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 50%;
  color: $white;
  text-align: center;
  padding: 1rem;
  cursor: pointer;
  z-index: 3;
}

.toggle-container {
  display: flex;
  align-items: center;
}

.toggle-option-slider {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.toggle-option-slider::after {
  content: "";
  width: 50%;
  height: 100%;
  left: 0;
  border-radius: 50px;
  background: $opaqueWhite;
  position: absolute;
  z-index: 2;
  transition: all 0.15s ease;
}

.toggle .toggle-option-slider::after {
  width: 50%;
}

.toggle input:first-of-type:checked ~ .toggle-option-slider::after {
  left: 0px;
}

.toggle input:nth-of-type(2):checked ~ .toggle-option-slider::after {
  left: 50%;
}

.toggle-option:checked + label {
  color: $grey;
  transition: all 0.15s ease;
}

// Stacked
@include media($m-screen-down) {
  .toggle--stacked {
    border-radius: 20px;
    overflow: hidden;

    .toggle-container {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      position: relative;

      .toggle-option-slider {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
      }

      label {
        text-align: center;
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .toggle-option-slider::after {
        content: "";
        width: 100%;
        height: 50%;
        top: 0;
        left: 0;
        border-radius: 0;
        background: $opaqueWhite;
        position: absolute;
        z-index: 2;
        transition: top 0.2s ease-in-out;
      }

      // Move the slider down when the second option is selected
      input:first-of-type:checked ~ .toggle-option-slider::after {
        top: 0;
      }

      input:nth-of-type(2):checked ~ .toggle-option-slider::after {
        top: 50%;
        left: 0;
      }
    }
  }
}
