.toggles {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  @include media($l-screen-up) {
    width: 50%;
  }
}

.toggles-answer {
  font-size: 22px;
}
