@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

@import "./_variables.scss";
@import "./_media-queries.scss";
@import "./_toggle.scss";
@import "./_toggles.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", serif;
  font-weight: 700;
  color: $white;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 1rem;
  background: $orangeBackground;

  &--peach {
    background: $peachBackground;

    .toggle-option:checked + label {
      color: #e47958;
    }
  }

  &--turquoise {
    background: $turquoiseBackground;

    .toggle-option:checked + label {
      color: #4cad94;
    }
  }
}
